/* Font Styling */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Karla', sans-serif;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/* Colors */
$yellow: #FAD31F; 
$green: #C8D113;
$red1: #FF1A45; 
$red2: #E8153F; 
$blue: #0049FF; 
$grey: #CBCBCB;
$black: #000100;